.title{
    margin: 3% 0;
}

.title span {
    font-size: 1.8rem;
}

.title .title--details h1{
    font-size: 1.8rem;
}

.title .title--details p {
    font-size: .9rem;
}

.main .card-container .card{
    margin: 0;
    max-height: 16rem;
    min-width: 300px;
    max-width: 320px;
}

.main .card-container{
    min-width: 62.5rem;
    max-width: 75rem;
}


