@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark__Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light__Gray: hsl(0, 0%, 98%);



}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.main {
    min-height: 50vh;
    width: 100%;
}

.title {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .title--details {
    min-width: 280px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title .title--details span {
    font-size: 1.3rem;
    font-weight: 200;
    display: block;
}

.title .title--details h1 {
    font-size: 1.4rem;
}

.title .title--details p {
    font-size: .9rem;
    font-weight: 200;
    padding-top: 7%;
    text-align: center;
}

.main .card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main .card-container .card {
    margin: 5% 0;
    max-width: 80%;
    padding: 7%;
    background-color: var(--Very-Light__Gray);
    box-shadow: 0px 5px 30px rgb(205, 204, 204);
    border-radius: 5px;
}

.main .card-container .card .title-card h2 {
    font-weight: 400;
}

.main .card-container .card .title-card p {
    font-weight: 200;
    font-size: .9rem;
    margin-top: 3px;
}

.main .card-container .card .img {
    display: flex;
    justify-content: end;
    padding-top: 12%;
}

.main .card-container .card:nth-child(1) {
    border-top: 4px solid var(--Cyan);
}

.main .card-container .card:nth-child(2) {
    border-top: 4px solid var(--Red);
}

.main .card-container .card:nth-child(3) {
    border-top: 4px solid var(--Orange);
}

.main .card-container .card:nth-child(4) {
    border-top: 4px solid var(--Blue);
}