.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .card-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 34rem;
    max-height: 36rem;
    justify-items: center;
    gap: 1;
}

.main  .card-container .card:nth-child(2) {
    margin-bottom: 5%;
}

.main  .card-container .card:nth-child(3){
    grid-column: 2/2;
}

.main .card-container .card:nth-child(4){
    grid-row: 1;
    grid-column:3; 
    grid-row-end: span 2;
    margin-top: 50px;
    margin-right: 1.5rem;
}   

.main .card-container .card:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    grid-row-end: span 2;
    margin-top: 50px;
}

.main .card-container .card {
    min-height: 16rem;
    min-width: 200px;
    max-width: 240px;
}